/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */



/*------------------------------------------------------------------------------
  MAIN STYLE
------------------------------------------------------------------------------*/
/*@import url(http://fonts.googleapis.com/css?family=Cousine:400);*/

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    position: relative;
/*    font-family: 'Cousine', sans-serif;*/
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/*------------------------------------------------------------------------------
  MAIN ELEMENTS
------------------------------------------------------------------------------*/
body {
  background: #E6E6E6;
  width: 90%;
  margin: auto;
}

.section {
  margin: 0 auto;
  clear: both;
  width: 100%;
  overflow: hidden;
}





/*------------------------------------------------------------------------------
  HEADER
------------------------------------------------------------------------------*/
#header {
    color: white;
    background: black;
    text-align: left;
    padding: 1em 0 1em 2em;
    font-size: 1.5em;
}





/*------------------------------------------------------------------------------
  ID CARD STYLE
------------------------------------------------------------------------------*/
#illustration {
    background: url(../img/bg_tile.png) repeat;

}

#illustrationContainer {
  padding-top: 50px;
}

#IDCard {
  width: 60%;
  height: 424px;
  margin: auto;
  overflow: hidden;
  background: white;
  padding: 30px;
}

/*-------------------------------------
  PORTRAIT SETUP
-------------------------------------*/

#IDCard img {
  position: absolute;
}

#IDCollar {
  z-index: 10;
}
#IDEars {
  z-index: 10;
}
#IDEyes {
  z-index: 10;
}
#IDHead {
  z-index: 10;
}
#IDJawline {
  z-index: 10;
}
#IDMouth {
  z-index: 10;
}
#IDNose {
  z-index: 10;
}


/*-------------------------------------
  "GENERATE!"" BUTTON
-------------------------------------*/
#generateButtonDiv {
width: 60%;
clear:both;
margin: 0 auto;
padding-bottom: 2em;
background: url(../img/bg_tile.png) repeat;
}

#generateButton {
  width: 95px;
  clear: both;
  margin: auto;
  float:right;
}





/*------------------------------------------------------------------------------
  GROUP SAMPLE
------------------------------------------------------------------------------*/
#individuals {
  background: #E6E6E6;

}

.personBox {
    width: 15%;
    float: left;
    margin: 0.2em;
    font-size: 0.9em;
}

.personBox p {
}


#fullName {
    font-weight: bold;
}





/*------------------------------------------------------------------------------
  REFRESH GROUP BUTTON
------------------------------------------------------------------------------*/
#refreshPeople {
    background: #E6E6E6;
    width: 90%;
    clear:both;
    margin: 0 auto;
}

#refreshPeople p:hover {
    color: #FF0000;
    cursor: default;
}





/*------------------------------------------------------------------------------
  FOOTER
------------------------------------------------------------------------------*/
#footer {
    background: #000000;
    width: 100%;
    height: 1.5em;
    text-align: center;
    font-size: 0.6em;
}

#footer a {
    color: #FFFFFF;
    text-decoration: none;
}

#footer a:hover {
  color: #FF0000;
}





/*------------------------------------------------------------------------------
  BUILT-IN STYLES
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
